@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

:root{
    --main-blue: rgb(39,132,251);
    --main-shadow: -6px -6px 20px rgba(255,255,255,1),
    6px 6px 20px rgba(0,0,0,.1);
    --main-shadow-hover: inset -6px -6px 10px rgba(255,255,255,1),
    inset 6px 6px 20px rgba(0,0,0,.05);
    --neon-button-hover: 0 0 5px #03e9f4,
    0 0 25px #03e9f4,
    0 0 50px #03e9f4;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

main {
    display: grid;
    height: 100vh;
    width: 100vw;
    grid-template-rows: 10% 90%;
    grid-template-columns: 20% 60% 20%;
    grid-template-areas: "header header header" "left left right";
}


/* Header: Start */

.header {
    grid-area: header;
    position: relative;
    display: grid;
    grid-template-columns: 20% 60% 20%;
    justify-items: center;
    align-items: center;
}
.options-container{
    position: relative;
    display: grid;
    width: 100%;
    grid-template-columns: 25% 25% 25% 25%;
    justify-items: center;
}
.options-container > p{
    padding: 13px 2.5vw;
    font-weight: 800;
    font-size: 1.1rem;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: var(--main-shadow)
}
.options-container > p:hover{
    box-shadow: var(--main-shadow-hover);
}
.header > p:nth-child(1){
    justify-self: left;
    padding-left: 20px;
    align-self: center;
}
.header > button{
    align-self: center;
    border: none;
    padding: 13px 3vw;
    background-color: var(--main-blue);
    font-weight: 500;
    font-size: 1.1rem;
    color: white;
    border-radius: 5px;
    transition: 0.3s;
    outline: none;
}
.header > button:hover{
    background: #03e9f4;
    color: black;
    box-shadow: var(--neon-button-hover);
}

/* Header: End */





.left {
    background: rgb(240,240,240);
    grid-area: left;
}
.left-container{
    position: relative;
    height: fit-content;
    height: -moz-max-content;
    max-height: 90%;
    min-height: 80%;
    width: 90%;
    margin: 0 auto;
    background-color: white;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
}
.user-login-left{
    display: none;
    text-align: center;
    padding: 80px;
}
.home-control-left{
    display: none;
}
.quiz-control-left{
    display: none;
}
.feedback-control-left{
    display: none;
}
.poll-control-left{
    display: none;
}





/* Right: Start */

.right {
    grid-area: right;
    position: relative;
}



/* Quiz Right: Start */



.quiz-control{
    display: none;
    position: relative;
    height: 100%;
    width: 100%;
    background-color: lightcoral;
}
.right-container{
    position: relative;
    background-color: lightblue;
    padding: 10px;
}
.result-options{
    position: relative;
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(70px,1fr));
}
.quiz-container > h3{
    margin: 10px 0;
} 



.inputs{
    position: relative;
}
.inputs  input{
    margin-bottom: 10px;
    width: 100%;
}






.poll-control{
    display: none;
}
.feedback-control{
    display: none;
}
.home-control{
    display: none;
}
.add-actions{
    display: none;
}





/* Right: End */















.show{
    display: block;
}
.tab-border{
    border-bottom: solid lightskyblue 2px;
}
